table,
td {
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-collapse: collapse;
    margin: auto;
    padding: 5px;
}

table {
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    color: darkgreen;
    background-color: azure;
}