fieldset {
    width: 700px;
    margin: auto;
    margin-top: 40px;
    border: 2px solid red;
    border-radius: 10px;
}

legend {
    font-size: 1.5em;
    font-weight: 700;

}

img.eye {
    width: 22px;
    vertical-align: middle;
    margin-left: -27px;
    /* position: absolute; */
}

img.accept {
    width: 22px;
    vertical-align: middle;
    /* margin-left: -23px; */
    /* position: absolute; */
}

div.content {
    position: relative;
    margin: 30px 20px;
    padding-bottom: 10px;
    border-bottom: 2px dotted gray;
}

label {
    font-weight: 800;
    line-height: 20px;
    width: 100px;
    /* float: left; */
    /* text-align: right; */
    padding-right: 5px;
}

P {
    margin: 0%;
    color: gray;
    font-size: 0.9em;
}