a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    background-color: bisque;
}

nav {
    width: 550px;
    background-color: skyblue;
    margin: auto;
    display: block;
    text-align: center;
}

ul {
    list-style-type: none;
    display: inline-block;
    margin: auto;

}

li {
    list-style-type: none;
    display: inline-block;
    /* float: left; */
    margin: 0px 10px;
    vertical-align: middle;
    font-size: 1.5em;

}